# .gitignore template for skeleton-based apps
*~
/api/
/build/
/inspector/
/simulator/
/test/
/source/script/
/deploy/backend.js
/deploy/frontend/
/deploy/login/
learncs.db
run.sh
emailconfig.json
new-account-notify.json
